<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      text-align: center;
    }

    iframe {
      max-width: 50% !important;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<body>
  <h1>Want to see the best doggo?</h1>
  <a class="twitter-timeline" href="https://twitter.com/dog_rates">Tweets by @dog_rates</a>

  <!-- The best way to load twitter timeline. https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/set-up-twitter-for-websites -->
  <script nonce="<%= nonce %>">
    window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function (f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>
</body>

</html>